process {
    withName:bwa_indexer {
        cpus=2
        container = mpgagebioinformatics/bwa-0.7.17.sif"
        containerOptions = "-v ${params.genomes}:/genomes"
    }
    withName:mapping {
        cpus=4
        container = "mpgagebioinformatics/bwa-0.7.17.sif"
        containerOptions = "-v ${params.project_folder}:/workdir -v ${params.bwa_raw_data}:/raw_data"
    }
    withName:flagstat {
        cpus=2
        container = "mpgagebioinformatics/samtools-1.16.1.sif"
        containerOptions = "-v ${params.project_folder}:/workdir"
    }

}